<div ng-show="msg" class="alert alert-success">
    <div class="row">
        <p class="text col-md-6 col-md-offset-3">Message: {{msg}}</p>
    </div>
</div>

<div class="jumbotron cool-bg">
    <div class="container">      
        <h1>Home Page</h1>
        <br>
        <h2>College Toolkit</h2>
        <p>An app for college students to improve their productivity</p>
    </div>  

</div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button ng-click="logout()" type="button" class="btn btn-primary">Logout</button>
            </div>
        </div>
    </div>


