<div class="container">
    <h1>Login Page</h1>
    <hr>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <form class="form">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input ng-model="email" type="email" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input ng-model="password" type="password" class="form-control" id="pwd">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <button ng-click="submit(email, password)" type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>

    <hr>

    <h1>Message: {{msg}}</h1>
    <p>Email: {{email}}</p>
    <p>Password: {{password}}</p>
    
</div>